<div class="row">
  <div class ="col-md-8">
    <h2><%= @project.title %></h2>
    <% if @volunteers.any? %>
    <p>Here are the volunteers currently assigned: click to edit.
    <div class="row row-cols-3">
      <% @volunteers.each do |vol| %>
        <div class="col">
          <div class="card">
            <div class="card-body" id="proj-card">
              <h5 class="card-title"><a href="/volunteer/<%= vol.id %>"><%= vol.name %></a></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <a href="/"><button class='btn-primary'>Return to Main</button></a>
    <% else %>
      <p>No volunteers currently assigned</p>
    <% end %>
  </div>
  <div class="col-sm">
    <h2>Edit Project Options</h2>
    <form action="/project/<%= @project.id %>/edit" method="post">
      <div class="form-group">
        <input name="_method" type="hidden" value="patch">
        <label for="project_title">Edit Project name</label>
        <input reqiured id="n" name="project_title" class="form-control" type="text">
      </div>
      <button type="submit"class="btn btn-primary">Update Project</button>
    </form>
    <br>
    <form action="/project/<%= @project.id %>/delete" method="post">
      <input name="_method" type="hidden" value="delete">
      <button type="submit"class="btn btn-warning">Delete Project</button>
    </form>
    <br>
    <h2>Add a New Volunteer to Project<h2>
      <form action="/project/<%= @project.id %>/add_vol" method="post">
        <div class="form-group">
          <label for="name">Volunteer Name</label>
          <input reqiured id="n" name="name" class="form-control" type="text">
        </div>
        <button type="submit"class="btn btn-primary">Add Volunteer</button>
      </form>
  </div>
</div>

